<!DOCTYPE html>
<html ng-app="Ecommerce" lang="en">
<head>
    <!-- AngularJs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Material Icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiny Ecommerce</title>
</head>
<body>    
    <div ng-controller="EcommerceController as controller">
        <!-- Navigation Bar -->
        <nav class="navbar sticky-top navbar-expand-xs navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="#">
          <h3>Tiny Ecommerce</h3>          
        </a> 
        <div>
          <div class="d-inline md_size">
            <span style="font-size: 24px;" ng-if="!login">Hello Stranger!</span>            
            <i ng-click="toggleModal(0)" ng-if="!login" style="cursor: pointer;font-size:32px;padding-left: 0px;padding-right: 10px; color: red;" class="material-icons">person_pin</i>
            <i ng-click="toggleModal(1)" ng-if="login" style="cursor: pointer;font-size:32px;padding-left: 0px;padding-right: 10px; color: green;" class="material-icons">person_pin</i>
            <a ng-click="toggleModal(2)" style="cursor: pointer;" class="text-primary" href="#">
              <i class="material-icons" style="font-size:32px">shopping_cart</i>
              <span class='badge badge-warning' id='lblCartCount'> 3 </span>
            </a>             
          </div>
          <div class="d-inline-flex xs_size">
                        
              <!-- <div class="input-group">
                <input class="form-control py-2 border-right-0 border" type="search" placeholder="search" id="example-search-input">
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent"><i class="material-icons">search</i></div>
                </span>
            </div>                  -->
          </div>
        </div>
        </nav><br>
        <!-- Image Showcase-->        
        <div class="show cointainer-fluid" id="carousel">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active" data-interval="3000">
                    <img height="1200px" width="1200px" src="https://images.unsplash.com/photo-1546502208-81d149d52bd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2706&q=80" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h1>Special Sales</h1>
                    <p></p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="3000">
                    <img height="1200px" src="https://images.unsplash.com/photo-1591085686350-798c0f9faa7f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>All your favorities Brands in one Place</h1>
                        <p></p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="3000">
                    <img height="1200px" src="https://images.unsplash.com/photo-1543087903-1ac2ec7aa8c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1974&q=80" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h1>Trending Styles</h1>
                    <p></p>
                </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- Page Content -->
        <div class="container-fluid">
            <!-- Search input -->
            <div class="container-md">
                <div class="input-group">
                    <input type="text" placeholder="Type Here To Search Items" class="form-control" aria-label="Type Here to Search Item">
                    <div class="input-group-append"></div>
                        <select class="btn btn-outline-secondary dropdown-toggle" id="inputGroupSelect02">
                            <option selected>All</option>
                            <option value="1">Woman</option>
                            <option value="2">Male</option>                        
                        </select>
                    </div>
                    <!-- <div class="input-group-append">
                    <select class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Woman</a>
                        <a class="dropdown-item" href="#">Man</a>
                    </div>
                    </div> -->
            </div>
            <!-- Sex Selection Cards -->
            <div class="container-md">
                <div class="card-list" >
                    <div class="card-container">                
                        <div class="card" style="width: 35rem;" ng-click="goToSex(1)">
                            <img src="https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" class="card-img-top" alt="...">
                            <div class="card-body" style="text-align: center;"> 
                                <h4 class="card-title">Woman</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">                
                        <div class="card" style="width: 35rem;" ng-click="goToSex(0)">
                            <img src="https://images.unsplash.com/photo-1519027356316-9f99e11d8bac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" class="card-img-top" alt="...">
                            <div class="card-body" style="text-align: center;">
                                <h4 class="card-title">Man</h4>
                            </div>
                        </div>         
                    </div>
                </div>
            </div><br>
            <!-- Categories -->
            <div class="container-fluid">
                <div class="categories-list">
                    <div ng-repeat="cat in categories">
                        <div class="card-container">                
                            <div class="card" style="width: 20rem;" ng-click="showCategory(cat.catalog_id)">
                                <img ng-src="{{cat.cover_img}}" class="card-img-top" alt="...">
                                <div class="card-body" style="text-align: center;"> 
                                    <h4 class="card-title">{{ cat.name }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>                                        
                </div>
            </div>
        </div>
        
        <!-- footer -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://github.com/josemevi"> José David Melian Villalobos</a>
        </div>
        <!-- signup / login / logout modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="display-4" id="exampleModalLabel" style="font-size: 36px;">Authentication</h5>
                  <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form ng-if="!login && !signup">
                        <div class="form-group d-flex justify-content-center">
                            <div class="col-md-6">
                                <label for="formGroupExampleInput">Email</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" ng-model = "user.email" placeholder="Email" ng-required>
                            </div>                          
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <div class="col-md-6">
                                <label for="formGroupExampleInput2">Password</label>
                                <input type="password" class="form-control" id="formGroupExampleInput2" ng-model = "user.password" placeholder="Password" ng-required>
                            </div>            
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <div class="col-auto" >
                                <label >Or <a style="text-decoration:underline; color:cornflowerblue; cursor: pointer;" ng-click="toggleSignUp()">Sign up!</a></label>                                
                            </div>            
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <div class="col-auto center" >
                                <button type="button" class="btn btn-success" ng-click="signIn()">Log In</button>                               
                            </div>            
                        </div>
                    </form>
                    <form ng-if="login && !signup">
                        <div class="form-group d-flex justify-content-center">
                            <div class="col-md-6">
                                <h2>Do you want to log out?</h2>
                            </div>                          
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <div class="col-auto center" >
                                <button type="button" class="btn btn-success" ng-click="logout()">Yes</button>                               
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>            
                        </div>
                    </form>
                    <form ng-if="signup && !login">
                        <div class="form-group d-flex justify-content-center">
                            <div class="col-md-6">
                                <label for="formGroupExampleInput">Email</label>
                                <input type="email" class="form-control" id="formGroupExampleInput" ng-model = "user.email" placeholder="Email" ng-required>
                            </div>                          
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <div class="col-md-6">
                                <label for="formGroupExampleInput2">Password</label>
                                <input type="password" class="form-control" id="formGroupExampleInput2" ng-model = "user.password" placeholder="Password" ng-required>
                            </div>            
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <div class="col-md-6">
                                <label for="formGroupExampleInput3">Repeat Password</label>
                                <input type="password" class="form-control" id="formGroupExampleInput3" ng-model = "user.repassword" placeholder="Repeat Password" ng-required>
                            </div>            
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <div class="col-auto center" >
                                <button type="button" class="btn btn-primary" ng-click="signUp()">Sign Up</button>
                                <button type="button" class="btn btn-secondary" ng-click="cancelSignUp()" data-dismiss="modal">Cancel</button>                              
                            </div>            
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                  
                </div>
              </div>
            </div>
          </div>
    </div>
</body>
</html>