<!DOCTYPE html>
<html ng-app="Ecommerce" lang="en">
<head>
    <!-- AngularJs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Material Icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiny Ecommerce</title>
</head>
<body>    
    <div ng-controller="EcommerceController as controller">
        <!-- Navigation Bar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Tiny Ecommerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item" ng-click="toggleModal(1)">
                <a style="color:cornflowerblue; cursor: pointer;" class="nav-link">Profile</a>
              </li>             
              <li class="nav-item" ng-click="toggleModal(3)">
                <a style="color:cornflowerblue; cursor: pointer;" class="nav-link">Orders</a>
              </li>
            </ul>
            
          </div>                 
        <div>
          <div class="navbar-nav mr-auto">
            
            <div class="nav-item" ng-click="toggleModal(0)" style="cursor: pointer;">
                <span class="nav-link" ng-if="!login">Hello Stranger!</span>                                
            </div>
            <div class="nav-item">           
            <i ng-click="toggleModal(0)" ng-if="!login" style="cursor: pointer;font-size:32px;padding-left: 0px;padding-right: 10px; color: red;" class="material-icons">person_pin</i>
            <i ng-click="toggleModal(0)" ng-if="login" style="cursor: pointer;font-size:32px;padding-left: 0px;padding-right: 10px; color: green;" class="material-icons">person_pin</i>
            </div>
            <div class="nav-item">
            <a ng-click="toggleModal(2)" style="cursor: pointer;" class="text-primary" href="#">
              <i class="material-icons" style="font-size:32px">shopping_cart</i>
              <span class='badge badge-warning' id='lblCartCount'>{{userCart.length}}</span>
            </a>      
              </div>     
          </div>          
        </div>
        </nav><br>
        <!-- Image Showcase-->        
        <div class="show cointainer-fluid" id="carousel">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active" data-interval="3000">
                    <img height="1200px" width="1200px" src="https://images.unsplash.com/photo-1546502208-81d149d52bd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2706&q=80" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h1>Special Sales</h1>
                    <p></p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="3000">
                    <img height="1200px" src="https://images.unsplash.com/photo-1591085686350-798c0f9faa7f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>All your favorities Brands in one Place</h1>
                        <p></p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="3000">
                    <img height="1200px" src="https://images.unsplash.com/photo-1543087903-1ac2ec7aa8c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1974&q=80" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h1>Trending Styles</h1>
                    <p></p>
                </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- Page Content -->
        <div class="container-fluid">            
            <!-- Sex Selection Cards -->
            <div class="container-md">
                <div class="card-list" >
                    <div class="card-container">                
                        <div class="card" style="width: 35rem;" ng-click="goToSex(1)">
                            <img src="https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" class="card-img-top" alt="...">
                            <div class="card-body" style="text-align: center;"> 
                                <h4 class="card-title">Woman</h4>
                                <div class="form-check">
                                    <input class="form-check-input position-static" type="checkbox" ng-model="womanCheck" aria-label="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">                
                        <div class="card" style="width: 35rem;" ng-click="goToSex(0)">
                            <img src="https://images.unsplash.com/photo-1519027356316-9f99e11d8bac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" class="card-img-top" alt="...">
                            <div class="card-body" style="text-align: center;">
                                <h4 class="card-title">Man</h4>
                                <div class="form-check">
                                    <input class="form-check-input position-static" type="checkbox" ng-model="maleCheck" aria-label="...">
                                </div>
                            </div>
                        </div>         
                    </div>
                </div>
            </div><br>
            <!-- Categories -->
            <div class="container-fluid">
                <div class="card-list">
                    <div ng-repeat="cat in categories">
                        <div class="card-container">                
                            <div class="card" style="width: 20rem;" ng-click="showCategory(cat.catalog_id)">
                                <img ng-src="{{cat.cover_img}}" class="card-img-top" alt="...">
                                <div class="card-body" style="text-align: center;"> 
                                    <h4 class="card-title">{{ cat.name }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>                                        
                </div>
            </div><br>
            <!-- Search input -->
            <div class="container-md">
                <div class="input-group">
                    <input type="text" ng-model = "searchString" placeholder="Type Here To Search Items" class="form-control" aria-label="Type Here to Search Item" ng-change="getItems('')">
                    <!-- <div class="input-group-append">
                        <select class="btn btn-outline-secondary dropdown-toggle" id="inputGroupSelect02">
                            <option selected>All</option>
                            <option value="1">Woman</option>
                            <option value="2">Male</option>                        
                        </select>
                    </div> -->
                </div>                    
            </div><br><br>
            <!-- Items -->
            <div class="container-fluid">
                <div class="catalog-list">
                    <div ng-if="!noItems" ng-repeat="item in itemList">
                        <div class="catalogs-container">                
                            <div class="card" style="width: 17rem;">
                                <img ng-src="{{item.images}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">{{item.name}}</h5>
                                  <p class="card-text">{{item.description}}</p>
                                  <p class="card-text">{{item.price}}$</p>
                                  <a ng-click="addToCart(item)" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>                                        
                </div>
                <div ng-if="noItems">
                    <h1>No result</h1>
                </div>
            </div><br>
            </div>        
            <!-- footer -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://github.com/josemevi"> José David Melian Villalobos</a>
            </div>
            <!-- signup / login / logout Modal -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="display-4" id="exampleModalLabel" style="font-size: 36px;">Authentication</h5>
                    <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form ng-if="!login && !signup">
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput">Email</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" ng-model = "user.email" placeholder="Email" ng-required>
                                </div>                          
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput2">Password</label>
                                    <input type="password" class="form-control" id="formGroupExampleInput2" ng-model = "user.password" placeholder="Password" ng-required>
                                </div>            
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-auto" >
                                    <label >Or <a style="text-decoration:underline; color:cornflowerblue; cursor: pointer;" ng-click="toggleSignUp()">Sign up!</a></label>                                
                                </div>            
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-auto center" >
                                    <button type="button" class="btn btn-success" ng-click="signIn()">Log In</button>                               
                                </div>            
                            </div>
                        </form>
                        <form ng-if="login && !signup">
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <h2>Do you want to log out?</h2>
                                </div>                          
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-auto center" >
                                    <button type="button" class="btn btn-primary" ng-click="logout()">Yes</button>                               
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>            
                            </div>
                        </form>
                        <form ng-if="signup && !login">
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput4">Name</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput4" ng-model = "user.name" placeholder="Name" ng-required>
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-center">  
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput5">Lastname</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput5" ng-model = "user.lastname" placeholder="Lastname" ng-required>
                                </div>  
                            </div>
                            <div class="form-group d-flex justify-content-center">     
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput">Email</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" ng-model = "user.email" placeholder="Email" ng-required> 
                                </div>                          
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput2">Password</label>
                                    <input type="password" class="form-control" id="formGroupExampleInput2" ng-model = "user.password" placeholder="Password" ng-required>
                                </div>            
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput3">Repeat Password</label>
                                    <input type="password" class="form-control" id="formGroupExampleInput3" ng-model = "user.repassword" placeholder="Repeat Password" ng-required>
                                </div>            
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-auto center" >
                                    <button type="button" class="btn btn-primary" ng-click="signUp()">Sign Up</button>
                                    <button type="button" class="btn btn-secondary" ng-click="cancelSignUp()" data-dismiss="modal">Cancel</button>                              
                                </div>            
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                  
                    </div>
                </div>
                </div>
            </div>
            <!-- User Info Modal-->
            <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="display-4" id="exampleModalLabel2" style="font-size: 36px;">User Information</h5>
                    <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">                                       
                        <form>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput4">Name *</label>
                                    <input type="text" class="form-control" ng-model = "user.name" placeholder="Name" ng-required>
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-center">  
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput5">Lastname *</label>
                                    <input type="text" class="form-control" ng-model = "user.lastname" placeholder="Lastname" ng-required>
                                </div>  
                            </div>
                            <div class="form-group d-flex justify-content-center">     
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput0">Email *</label>
                                    <input type="text" class="form-control" ng-model = "user.email" placeholder="Email" ng-required> 
                                </div>                          
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput2">New Password</label>
                                    <input type="password" class="form-control" ng-model = "user.password" placeholder="Password" ng-required>
                                </div>            
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput3">Repeat New Password</label>
                                    <input type="password" class="form-control"  ng-model = "user.repassword" placeholder="Repeat Password" ng-required>
                                </div>            
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <label>Document</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <select class="btn btn-outline-secondary dropdown-toggle" ng-model = "user.docType">
                                                <option ng-repeat="doc in docTypes" value="{{doc.document_id}}">{{doc.name}}</option>                                                                                                                                   
                                            </select>
                                        </div>
                                        <input type="text" ng-model = "user.docNumber" placeholder="Document Number" class="form-control" aria-label="Document Bumber">                                    
                                    </div>
                                </div>                                                               
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput3">Shipment Direction</label>
                                    <input type="text" class="form-control" ng-model = "user.direction" placeholder="Shipment Direction" ng-required>
                                </div>            
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <label for="formGroupExampleInput3">Credit Card Number</label>
                                    <input type="text" class="form-control" ng-model = "user.ccNumber" placeholder="Credit Card Number" ng-required>
                                </div>            
                            </div>                        
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-auto center" >
                                    <button type="button" class="btn btn-primary" ng-click="editUserInfo()">Edit</button>
                                    <button type="button" class="btn btn-secondary" ng-click="cancelSignUp()" data-dismiss="modal">Cancel</button>                              
                                </div>            
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                  
                    </div>
                </div>
                </div>
            </div>
            <!-- Shopping Cart and Checkout Modal -->
            <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="display-4" id="exampleModalLabel2" style="font-size: 36px;">Shopping Cart</h5>
                    <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div ng-if="!payment">
                            <div ng-repeat = "itemc in userCart track by $index">
                                <div class="row">
                                    <div class="col-6 d-flex justify-content-center">
                                        <div class="card mb-3" style="max-width: 540px;">
                                            <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img ng-src="{{itemc.image}}" class="card-img" alt="...">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{itemc.name}} x{{itemc.amount}}</h5>
                                                    <p class="card-text">{{itemc.description}}</p>
                                                    <p class="card-text"><small class="text-muted">{{itemc.price}}$ x {{ itemc.amount}} = {{itemc.price*itemc.amount}}$</small></p>
                                                </div>
                                            </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col">
                                        <div class="d-flex justify-content-center">                                    
                                            <button  ng-click="removeItem($index)" type="button" class="btn btn-outline-danger"><i class="material-icons" style="font-size:24px">delete</i></button>
                                        </div>                                
                                    </div>                            
                                </div>                                                           
                            </div><br>
                            <h2 ng-if="userCart.length > 0" >Total: {{payTotal.toFixed(2)}}$</h2>
                            <h1 ng-if="userCart.length == 0">No Items Yet</h1>
                            <div ng-if="userCart.length > 0" class="form-group d-flex justify-content-center">
                                <div class="col-auto center" >
                                    <button type="button" class="btn btn-primary" ng-click="pay()">Checkout</button>
                                    <button type="button" class="btn btn-secondary" ng-click="cancelSignUp()" data-dismiss="modal">Cancel</button>                              
                                </div>            
                            </div>                  
                        </div>
                    </div>
                    <div ng-if="payment">                
                        <div class="form-group d-flex justify-content-center">
                            <div class="col-md-6">
                                <h3>You're about to pay {{payTotal.toFixed(2)}}$. Want to proceed?</h3>
                                <input class="form-check-input position-static" type="checkbox" ng-model="confirmPay" aria-label="...">                    
                                <span>I Accept the terms and conditions</span>
                            </div>                          
                        </div>                    
                        <div class="form-group d-flex justify-content-center">
                            <div class="col-auto center" >
                                <div class="form-check">                                
                                </div>
                                <button ng-disabled="!confirmPay" type="button" class="btn btn-primary" ng-click="checkout()">Pay</button>
                            <button type="button" class="btn btn-secondary" ng-click="back()">Back</button>
                            </div>            
                        </div>
                                
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                  
                    </div>
                </div>
                </div>
            </div>
            <!-- Order Review Modal  -->
            <div class="modal fade" id="modalOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="display-4" id="exampleModalLabel2" style="font-size: 36px;">Orders</h5>
                    <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">                                       
                        <form ng-repeat="order in orderData | orderBy: 'order_id'">
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-md-6">
                                    <label >Order ID = {{order.order_id}}</label>                                
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-center">  
                                <div class="col-md-6">
                                    <label>Total Payed = {{order.payed}}</label>                            
                                </div>  
                            </div>
                            <div class="form-group d-flex justify-content-center">     
                                <div class="col-md-6">
                                    <label>Order Status</label>
                                    <input type="text" class="form-control" ng-model = "orderStatus[order.order_id]" placeholder="{{order.order_status}}" ng-required> 
                                </div>                          
                            </div>                              
                            <div class="form-group d-flex justify-content-center">
                                <div class="col-auto center" >
                                    <button type="button" class="btn btn-primary" ng-click="editOrders(order.order_id, orderStatus[order.order_id])">Edit Order Status</button>                                                                  
                                </div>            
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                  
                    </div>
                </div>
                </div>
            </div>
    </div>
</body>
</html>